.DS_Store
.idea/
.vscode/
__pycache__

# Ignore everything under arcsim/ by default, but allow tracking
# an explicit placeholder in arcsim/bin/
arcsim/*
arcsim/bin/arcsim
!arcsim/bin
!arcsim/bin/.gitkeep

imgs/
out*

